@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing:border-box;
    
}

:root{
    --color-primiry: #003459;

    --color-dark-1: #002A48;
    --color-dark-2: #242B33;
    --color-dark-3: #00171F;
    --color-dark-4: #667479;
  
    --font-1 : "Be Vietnam Pro", sans-serif;
}

body{
    font-family: var(--font-1);
    margin: 0;
}
a {
    text-decoration:none;
}
ul {
    padding:0;
    list-style-type:none;
}

.container{
    width:1180px;
    margin-left:auto;
    margin-right: auto;
}

/* Button  */
.button {
    background-color: var(--color-primiry);
    border: 2px solid var(--color-primiry);
    border-radius:57px;
    padding: 12px 28px;
    color:#FDFDFD;
    font-size:16px;
    font-weight: 700;
    cursor:pointer;
}
.button-modify {
    background-color:transparent;
    color:var(--color-primiry);
}
.button-modify .icon{
    margin-left:8px;
}
/* End Button  */

/* Top head  */
.top-head {
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    padding-top:24px;
    padding-bottom:28px;
}
.top-head .left-head  {
    width: 50%;
}
.top-head .left-head  .inner-title{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2px;
}
.top-head .left-head .title{
    font-size: 24px;
    font-weight: 700;
    text-transform:capitalize;
    color: var(--color-primiry);
}
.top-head .right-head {
    width: 50%;
    text-align:right;
}
/* End Top head  */

/* Header  */
.header {
    position : relative;
    z-index:999;
}
.header .inner-wrap{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 0;
}

.header .logo {
    height: 40px;
    width:auto;
    margin-right: 24px;
}

.header .menu-list{
    display:flex;
    justify-content: space-between;
} 
.header .menu-list  li{
    margin:0 24px;
}
.header .menu-list  a {
    font-size: 16px;
    color:var(--color-primiry);
    font-weight:700;
}
.header .inner-search {
    flex:1;
    height:44px;
    border-radius: 46px;
    background-color:#F3F3F3;
    padding: 12px 0 12px 48px;
    position:relative;
    margin-right: 14px;
    margin-left:24px;
}

.header .inner-search input {
    font-size: 14px;
    font-weight: 500;
    outline:0;
    color:#99A2A5;
    border:0;
    background-color:transparent;
}
.header .inner-search button {
    background-color:transparent;
    font-size:17px;
    border:0;
    position:absolute;
    top:12px;
    left:10px;
    cursor:pointer;
}
/* End Header  */


/* Section-1  */
.section-1 {
    background-color: #FCEED3;
    border-radius : 0 0 40px 40px;
    position:relative;
    margin-top:-110px;
    padding-top: 110px ;
    margin-bottom:36px;
    padding-bottom:0;
}

.section-1 .inner-wrap {
    display: flex;
}
.section-1 .inner-left{
    width: 50%;
    padding-top: 50px;
    position: relative;
}

.section-1 .inner-left .title {
    margin:0;
    padding:0;
    font-size: 60px;
    font-weight: 700;
    color:var(--color-dark-1);
    margin-bottom: 4px;
    position: relative;
    z-index:2;
}
.section-1 .inner-left .title-2{
    margin:0;
    padding:0;
    font-size: 46px;
    font-weight: 700;
    color:var(--color-dark-1);
    margin-bottom: 24px;
}

.section-1 .inner-left  .content{
    font-size: 16px;
    color:var(--color-dark-2);
    font-weight: 500;
    margin-bottom: 34px;
    margin-top: 0;
    margin-right: 76px;

}
.section-1 .inner-left .button-modify {
    margin-right:18px;
}

.section-1 .inner-right {
    width: 50%;
    position: relative;
}
.section-1 .inner-right .image-main{
    width: 100%;
    overflow:hidden;
}
.section-1 .inner-right .image {
    width: 90%;
    margin-bottom:-10px;
    position:relative;
    z-index:2;
}


.section-1 .bg-1 {
    position:absolute;
    top:45px;
    left:-15px;
    z-index:1;

}
.section-1 .bg-2 {
    position:absolute;
    bottom:0px;
    left:-120px;


}
.section-1 .bg-3{
    width: 140%;
    position: absolute;
    z-index:1;
    bottom:0px;
    left:-90px;
}
.section-1 .bg-4 {
    position:absolute;
    top:-110px;
    left:-125px;
}
/* End section-1  */
.section-2 {
    padding-bottom:40px;
}

.section-2 .list-item{
    display:flex;
    flex-wrap:wrap;
}

.section-2 .item {
    border-radius: 12px;
    background-color:#FDFDFD;
    width : calc(25% - 60px / 4);
    margin-right: 20px;
    margin-bottom:28px;
    padding: 8px;
    box-shadow: 0px 4px 28px -2px #00000014;
}
.section-2 .item:nth-child(4n){
    margin-right: 0;
}

.section-2 .inner-image  {
    border-radius: 20px;
    overflow:hidden;
    margin-bottom:16px;
    
}
.section-2 .inner-image img {
   width: 100%;
   aspect-ratio: 1/1;
}
.section-2 .inner-title {
    font-weight: 700;
    font-size: 16px;
    color:var(--color-dark-3);
    margin-bottom: 4px;
}
.section-2 .info {
    display:flex;
    align-items:center;
    /* position:relative; */
}
.section-2 .info .info-detail {
    margin-right: 13px;
    position:relative;
}
.section-2 .info .info-detail:last-child {
    margin-right: 0;
}
.section-2 .info span{
    font-size: 12px;
    font-weight: 500;
}
.section-2 .info  strong{
    color:#667479;
    font-weight: 700;
}
.section-2 .info .dot {
    color:#667479;
    font-weight: 700;
    font-size: 20px;
    position:relative;;
    bottom: 4px;
    
}
.section-2 .price {
    font-weight: 700;
    font-size: 14px;
    color:var(--color-dark-3);
    margin-top:4px;
}
/* End section 2  */


/* Section 3  */
.section-3{
    padding-bottom:36px;
}
.section-3 .inner-wrap {
    background-image:url(../images/section-3-bg-1.svg);
    background-size: cover;
}
.section-3  .inner-wrap {
    display:flex;
    justify-content : space-between;
    border-radius:30px;
}
.section-3  .left {
    width: 50%;
    padding-left:20px;
    padding-top:36px;
}
.section-3  .left img{
    width: 95%;
}
.section-3  .right {
    width: 42%;
    text-align:right;
    padding-right: 85px;
    padding-top: 58px;
}
.section-3  .right .title {
    margin:0;
    font-weight: 700;
    font-size:52px;
    color: var(--color-primiry);
    margin-bottom:8px;
}
.section-3  .right .title-2 {
    margin:0;
    font-weight: 700;
    font-size: 36px;
    color: var(--color-primiry);
    margin-bottom:8px;
}
.section-3  .right  .content {
    /* width: 92%; */
    font-weight: 500;
    font-size: 12px;
    color: var(--color-dark-2);
    margin-bottom: 24px;
}
.section-3  .right  .button {
    margin-left: 18px;
}
/* End Section 3  */
/* Section 4  */
.section-4 {
    padding-bottom: 60px;    
}
.section-4 .content {
    display:flex;
}
.section-4 .content .item {
    box-shadow: 0px 4px 28px -2px #00000014;
    width : calc(100% / 3 - 20px * 2 / 3);
    margin-right: 20px;
    padding:8px;
}
.section-4 .content .item .inner-image {
    border-radius: 10px;
    overflow:hidden;
    margin-bottom: 8px;
    aspect-ratio: 364/240;
    object-fit:cover;
    overflow:hidden;
}
.section-4 .content .item img {
    width: 100%;
}
.section-4 .info {
    padding: 8px;
}
.section-4 .aside-title {
    font-size: 12px ;
    font-weight: 700;
    background-color:#00A7E7;
    border-radius: 28px;
    padding : 2px 10px;
    color:white;
    display:inline-block;
    margin-bottom: 10px;
}
.section-4 .info .title {
    font-size: 16px;
    font-weight: 700;
    color:var(--color-dark-3);
    margin-bottom: 6px;
}
.section-4 .info .info-detail {
    font-size: 14px;
    font-weight: 500;
    color:var(--color-dark-2);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 3;
}
/* End section 4  */

/* .section-5  */
.section-5 {
    background-color: #FCEED3; 
    border-radius: 30px 30px 0 0;
    padding-top: 80px;
    padding-bottom: 40px;
}

.section-5 .top {
    background-color:var(--color-primiry);
    border-radius:16px;
    display:flex;
    align-items:center;
    padding: 32px;
}
.section-5 .top .title {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform:capitalize;
    margin-right:20px;
    width: 40%;
}
.section-5 .top .registeer-form {
    flex:1;
    background-color: white;
    border-radius: 14px;
    padding: 12px;
    display:flex;
}
.section-5 .top  .input {
    padding: 14px 28px;
    font-size: 14px;
    font-weight: 500;
    color:#99A2A5;
    border: 1.5px solid #99A2A5;
    outline:0;
    border-radius: 8px;
    flex:1;
    margin-right: 12px;
}
.section-5 .top  .button-form {
    /* width: 20%; */
    background-color:var(--color-primiry);
    font-size: 16px;
    font-weight:500;
    color:white;
    text-transform:capitalize;
    padding:12px 28px;
    border-radius: 8px;
}

.section-5 .middle {
    display:flex;
    justify-content:space-between;
    padding: 40px 0;
    border-bottom: 1.5px solid #CCD1D2;
}
.section-5 .middle .menu-list {
    display: flex;
}
.section-5 .middle .menu-list li {
    margin-right: 60px;
    font-size: 16px;
    font-weight: 500;
}
.section-5 .middle .menu-list li:last-child{
    margin-right:0;
}
.section-5 .middle .menu-list a{
    color:var(--color-dark-3);
}
.section-5 .middle .social-list {
    display: flex;
}

.section-5 .middle .social-list  li {
    margin-left:40px;
    font-size: 24px;
    
}
.section-5 .middle .social-list a {
    color:var(--color-dark-3);
}
.section-5 .middle .social-list  li:first-child{
    margin-left:0;
}
.section-5 .bottom {
    margin-top: 40px;
    display:flex;
    align-items:center;
}
.section-5 .bottom .logo{
    width: 20%;
    text-align:center;
    order:2;
}
.section-5 .bottom .copy-right {
    width: 40%;
    text-align:left;
    order:1;
    font-size: 14px;
    font-weight: 500;
    color:var(--color-dark-4);
}
.section-5 .bottom  .policy {
    width:40%;
    /* text-align:right; */
    order:3;
    display:flex;
    justify-content:flex-end;
}
.section-5 .bottom  .policy a {
    font-size: 14px;
    font-weight: 500;
    color:var(--color-dark-4);
}
.section-5 .bottom  .policy a:last-child {
    margin-left:32px;
}
/* .section-5 . */
/* .section-5  */